#sideMenu{
	background-color: #B0B0B0;
	position: static;
	left: 0px;
	top: static;
	width: 80px;
	min-height: 100px;
	height:70vh;
}
.blogNameMenu {
	padding: 0px;
	margin: 0px;
	border: none;
	height: inherit;
	width: inherit;
}
.blogNameMenu li{
	color: #003171;	
	height: 40px;
	width: inherit;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.blogNameMenu .selected{
	background-color: #707070;
}
.blogLogo{
	height: inherit;
	width: inherit;
	object-fit: contain;
	margin: 0px;
	padding: 0px;
}
#mainBlogArea{
	position: absolute;
	left: 80px;
	top: 20vh;
	height: 70vh;
	width: calc(100% - 80px);
	border: 10px solid grey;
	box-shadow: inset 0 1px 0 blue, 0 1px 0 blue;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#blogInput{
	position: absolute;
	z-index: 1;
	bottom: 0px;
	height: 10vh;
	width: calc(100% - 5px);
	border-top: 1px solid  midnightblue;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#newCommentBlock{
	height: inherit;
	width: 100%;
}
#submitNewComment{
	position: absolute;
	z-index: 3;
	bottom: 5px;
	right: 20px;
	background-color: blue;
	color: white;
}
