<article>
	<header id="aboutHeader">
		<h1>About me and my Projects </h1>
	</header>
	<p>
		I am interested in all types of programming which typically tends to be web-oriented, since a major part of web-oriented programming is good interaction with another person in either good design or ease-of-use.
		
		I made this website in the effort of displaying what programming languages I have experienced, and for others to comment on the specific languages to help others learn it.
		Feel free to click on the links to the programming languages' main development community, or to discuss in the blog.
	</p>
	
	<p>
		This website is primarily to display my skills in programming. There are several versions of this blog where each version is done in a different language. For the different versions, check out my GitHub account. 
		All artwork used in this website was orginally taken through a Google search for reuseable images; none of the artwork was originally created by me.
	</p>
</article>
