<section id="sideMenu">
	<ul class="blogNameMenu">
		<li *ngFor="let blogTopic of blogMessages" [class.selected]="blogTopic.blogName === selectedBlog" (click)="blogSelected(blogTopic.blogName)">
			<img class="blogLogo" id="{{blogTopic.blogName}}" name="{{blogTopic.blogName}}" src="{{blogTopic.blogIconLocation}}" alt="logo">
		</li>
	</ul>
</section>

<!--
Assumption: - incoming message info is sorted by date already
			- incoming data structure once converted into an object, is the same as seen in mock object 


restructure this with actula DBase
-->
<section id="mainBlogArea" >
	<section id="blogMessageSection">
		<ng-container *ngIf="selectedBlog" >
			<ng-container *ngFor="let blogTopic of blogMessages" >
				<ng-container *ngIf="blogTopic.blogName === selectedBlog" >
					<section *ngFor="let message of blogTopic.messages">
						<!--  <img class="personIcon" src="{{message.userID.image}}" alt="personLogo"> -->
						{{message.message}}
					</section>
				</ng-container>
			</ng-container>
		</ng-container>
	</section>
	<section id="blogInput">
		<textarea rows="4" cols="50" id="newCommentBlock" maxlength="255">
		</textarea>
		<button id="submitNewComment">Comment Now!</button>
	</section>
</section>


<!--   TO DO: set up database & database calls



<ng-container
  *ngIf='message.userID.image === ""; then userHasImage; else userHasNoImage'>
</ng-container>
<ng-template #userHasImage>
	<img class="personIcon" src="{{message.userID.image}}" alt="personLogo">
</ng-template>
<ng-template #userHasNoImage>
	<img class="personIcon" src="../../assets/images/blog/defaultPerson.png" alt="personLogo">
</ng-template>

-->