#blogInput{
	position: absolute;
	z-index: 1;
	bottom: 0px;
	height: 10vh;
	width: calc(100% - 5px);
	border-top: 1px solid  midnightblue;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#newCommentBlock{
	height: inherit;
	width: 100%;
}
#submitNewComment{
	position: absolute;
	z-index: 3;
	bottom: 5px;
	right: 20px;
	background-color: blue;
	color: white;
}
